
.heading{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}
h1{
    text-align: center;
    color:cadetblue;
    margin-top: 25px;
}
.title{
    text-align: center;
    color:cadetblue; 
}
.main{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}
.card{
    width: 30%;
}
.row{
    text-align: center;
    align-items: center;
    margin-left: 375px;
    margin-right: 250px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.input-group mb-3{
    float: left;
}
/* .row {
    margin-left: 250px;
    margin-top: 25px;
    align-items: center;
} */
.form{
    margin-left: 250px;
    margin-top: 25px;
    align-items: center;    
}
footer{
    display: relative;
}
.amenities{
    background-image: url("images/background.png");
    color: black;
    text-align: center;
    font-weight: bold;
}